@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-sora);
  }
}

:root {
  --heading-color: #193555 --text-color:#697e8a --black:#000 --black:#fff --btn-color:#193555
}

@layer utilities {
  .sora-font {
    font-family: var(--font-sora), sans-serif;
  }

  .unbounded-font {
    font-family: var(--font-unbounded), sans-serif;
  }

}

/*Navbar*/
.nav-top i {
  color: blue !important;
}

.nav-menu li a.active {
  color: (black);
}

.navbar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 250px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1)77%);
  z-index: -1;
}

.navbar.scrolled:after {
  background: none !important;
  height: 0;
}

/*Hero*/
.hero {
  height: 100vh;
  background: url(../assest/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

}